<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aardvark.Base" version="3.0.42" targetFramework="net462" />
  <package id="DevilSharp" version="0.1.1" targetFramework="net462" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net462" />
  <package id="LASzip" version="0.1" targetFramework="net462" />
  <package id="Unofficial.laszip.net" version="2.2.0" targetFramework="net462" />
</packages>